<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Spring-Boot Básico</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/image/favicon.png" />

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />
</head>

<body>
	<!-- aula 32 - explica como inserir fragments: "fragments/header" é o diretorio e "cabecalho" é o parametro para que seja encontrado -->
	<header th:replace="fragments/header :: cabecalho">
		<div>header</div>
	</header>

	<div class="layout-main">
		<aside>
			<nav th:replace="fragments/sidebar :: nav-sidebar">
				<span>menu</span>
			</nav>
		</aside>

		<!-- aula 33 - utilizacao do componente "layout:fragment" que é mais avançado para determinadas situações em relação ao th:fragment-->
		<section layout:fragment="corpo">
			<div>conteudo principal das páginas</div>
		</section>
	</div>

	<!-- aula 32 - explica como inserir fragments: "fragments/footer" é o diretorio e "rodape" é o parametro para que seja encontrado -->
	<footer th:replace="fragments/footer :: rodape">
		<div>footer</div>
	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<!-- aula 49 - webjar necessário para aplicar mascaras nos documentos HTML junto a tag "data-mask" -->
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		//aula 40 - 7:00
		var url = '';

		//função Jquery - armazena a URL concatenada ao endpoint de exclusão+id
		//e envia para uma janela modal
		$('button[id*="btn_"]').click(function() {
			//pega o atributo de botões com id que começam com "btn_"
			//e divide a string em partes quebrando a partir do caractere "_"
			//e concatena o index 1 a URL base localhost
			url = "http://localhost:8080/" + $(this).attr('id').split("_")[1];
		});

		//após receber a URL da janela modal, monitora cliques de botao de confirma da janela MODAL
		$('#ok_confirm').click(function() {
			//ao ser clicado no botao, faz uma solicitacao de acordo com a url recebida por variavel
			document.location.href = url;
		});
		//aula 40 - 7:00
		//____________________________________________________________

		$(function() {
			$('[data-toggle="popover"]').popover();
		});

		$(document).ready(function() {
			$(".navbar-toggle").click(function() {
				$(".sidebar").toggleClass("sidebar-open");
			})
		});
	</script>
</body>
</html>